body {
    background-color: #f0f0f0; 
}

.admin_img, .product_img, .edit_image {
    width: 100px;
    object-fit: contain;
}

.navbar, .bg-primary {
    background-color: #343a40 !important; 
}
.nav-link {
    background-color: #343a40 !important; 
    color: #fff !important; 
}

/* Container chính */
.container-fluid {
    background-color: #f0f0f0;
}

/* Định dạng cho các nút */
.button a.nav-link {
    background-color: #6c757d;  
    color: white;              
    border-radius: 5px;        
    padding: 10px;              
    text-decoration: none;    
    margin: 5px;
}

/* Màu nền khi hover vào nút */
.button a.nav-link:hover {
    background-color: #5a6268;  /* Màu xám đậm khi hover */
    color: #ffffff;             /* Màu chữ trắng khi hover */
}

/* Màu chữ sáng cho các phần tử có class .text-light */
.text-light {
    color: white !important;
}

/* Màu chữ cho tiêu đề */
h3 {
    color: #ffffff;
    font-size: 24px;
}

/* Định dạng container con */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
